body, html {
  font-family: sans-serif;
  margin: auto;
  max-width: 100%;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

header {
  font-size: 2em;
  font-style: italic;
}

iframe {
  border: none;
}

a.button{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border-radius:5em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:bold;
  color:#FFFFFF;
  /* text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35); */
  text-align:center;
  transition: all 0.2s;
  background-color:#f14ebd;
  margin-top: 30%;
  font-size: 4em;
}
a.button:hover{
  background-color:#8d0c64;
}
@media all and (max-width:30em){
 a.button4{
  display:block;
  margin:0.2em auto;
 }
}